<%= nav_bar fixed: :top, brand: content_tag(:i, 'Know Your Graph', class: 'fa fa-eye'), responsive: true do %>
    <%= menu_group do %>
        <%= menu_item "Home" %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "S" %>
            <%= menu_item "A" %>
            <%= menu_item "D" %>
<%# if current_user.lives_in_hackney? %>
<%#= menu_item "Bikes", fixed_wheel_bikes_path %>
<%# end %>
        <% end %>
        <%#= menu_item "About Us" %>
        <%#= menu_item "Contact" %>
    <% end %>
    <%= menu_group pull: :right do %>
        <% unless session[:user].nil? %>
            <%= drop_down content_tag(:i, session[:user]['username'], class: 'fa fa-user-circle') do %>
                <%= menu_item 'Your Profile' %>
                <%= menu_item 'Logout', users_logout_url%>
            <% end %>
<%#= form_for @user, url: session_path(:user), html => {class: "navbar-form pull-right"} do |f| -%>
            <!--<p><%#= f.text_field :email %></p>-->
            <!--<p><%#= f.password_field :password %></p>-->
            <!--<p><%#= f.submit "Sign in" %></p>-->
<%# end -%>
        <% end %>
    <% end %>
<% end %>