<nav class="navbar navbar-default navbar-fixed-side">
  <div class="container">
    <!--<div class="navbar-header">-->
      <!--<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar">a</span>-->
        <!--<span class="icon-bar">b</span>-->
        <!--<span class="icon-bar">v</span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="./">Side Navbar</a>-->
    <!--</div>-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="#"><i class="fa fa-home fa-fw"></i>Dashboard</a>
        </li>
        <li class="">
          <a href="<%= '/user_console/tasks/index'%>"><i class="fa fa-tasks fa-fw"></i>Tasks</a>
        </li>
        <li class="">
          <a href="<%= '/user_console/graph_data_files/index'%>"><i class="fa fa-archive fa-fw"></i>Files</a>
        </li>
        <!--<li class="">-->
          <!--<a href="inverse.html">Right (Inverse Theme)</a>-->
        <!--</li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-calculator"></i>Demo<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= '/user_console/demo/page_rank_prepare'%>">Page Rank</a></li>
            <li><a href="#">SSSP</a></li>
            <li><a href="#">Louvain</a></li>
            <!--<li class="divider"></li>-->
            <!--<li class="dropdown-header">Dropdown Header</li>-->
            <!--<li><a href="#">Sub-page 3</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book fa-fw"></i>Tools<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= '/user_console/tool/metis_prepare' %>">Metis</a></li>
            <li><a href="<%= '/user_console/tool/analyzer_prepare' %>">Analyzer</a></li>
            <li><a href="<%= '/user_console/tool/rehasher_prepare' %>">Rehasher</a></li>
            <!--<li class="divider"></li>-->
            <!--<li class="dropdown-header">Dropdown Header</li>-->
            <!--<li><a href="#">Sub-page 3</a></li>-->
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-left">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button class="btn btn-default">Search</button>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Page 4</a></li>-->
      <!--</ul>-->
      <!--<button class="btn btn-default navbar-btn">Button</button>-->
      <!--<p class="navbar-text">-->
        <!--Made by-->
        <!--<a href="http://www.samrayner.com">Sam Rayner</a>-->
      <!--</p>-->
    </div>
  </div>

</nav>