<%
  def generating_a_modal_form()

    form_tag '/user_console/upload_data_source', id: :ajax_form, multipart: true do

    file_field 'ajax_form', 'data_source_file'

    end

  end
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Know Your Graph</title>
</head>
<body>

<div class="container-fluid" style="margin-left: -32px;">

  <div class="row">
    <%= render 'user_console/common/navbar' %>
  </div>

  <div class="row" style="margin-top: 18px;">
    <div class="col-sm-3 col-lg-2">
      <%= render 'user_console/common/sidebar' %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <h1>Configure Page Rank Parameters</h1><br>
      <%= form_tag 'demo/page_rank' do %>
          <h3>Data Source</h3>
          <table class="table table-responsive table-bordered">
            <thead>
            <tr>
              <td>Name</td>
              <td>Size(KB)</td>
              <td>Vertices</td>
              <td>Edges</td>
              <td>Operation</td>
            </tr>

            </thead>

            <tbody>
            <tr>
              <td>Test</td>
              <td>?</td>
              <td>?</td>
              <td>?</td>
              <td>?</td>
            </tr>
            </tbody>
          </table>

      <% end %>

      <button class="btn" data-toggle="modal" data-target="#modal">Upload File</button>

    </div>
  </div>
</div>

<%#= content_tag :a, "Modal", href: "#modal", class: 'btn', data: {toggle: 'modal'} %>

<%= modal_dialog id: "modal",
                 header: {show_close: true, dismiss: 'modal', title: 'Upload File'},
                 body: {content: generating_a_modal_form(), id: :ajax_form
                 },
                 footer: {content: content_tag(:button, 'Save', class: 'btn', id: :ajax_sub_btn)} %>
</body>
</html>

<script type="text/javascript">

    $('#ajax_sub_btn').click(
        function () {

            var formData = new FormData();

            formData.append('file', $('#ajax_form_data_source_file')[0].files[0]);

            $.ajax({
                url: '<%= url_for '/user_console/upload_data_source'%>',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: uploadSuccess
            });

            $('#modal').modal('toggle');

        }
    );

    function uploadSuccess() {
        alert('Successfully uploaded. Please refresh the page.');
    }

    //    function ajaxSubmit(frm, fn) {
    //        var dataPara = getFormJson(frm);
    //        $.ajax({
    //            url: frm.action,
    //            type: frm.method,
    //            data: dataPara,
    //            success: fn
    //        });
    //    }
    //
//        function transformForm(frm) {
//            var o = {};
//
//            var a = $(frm).serializeArray();
//
//            $.each(a, function () {
//
//                if (o[this.name] !== undefined) {
//                    if (!o[this.name].push) {
//                        o[this.name] = [o[this.name]];
//                    }
//                    o[this.name].push(this.value || '');
//                } else {
//                    o[this.name] = this.value || '';
//                }
//            });
//
//            return o;
//        }
</script>