<%
  def generating_a_modal_form()

    form_tag '/user_console/upload_data_source', id: :ajax_form, multipart: true do

    file_field 'ajax_form', 'data_source_file'

    end

  end
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Know Your Graph</title>
</head>
<body>

<div class="container-fluid" style="margin-left: -32px;">

  <div class="row">
    <%= render 'user_console/common/navbar' %>
  </div>

  <div class="row" style="margin-top: 18px;">
    <div class="col-sm-3 col-lg-2">
      <%= render 'user_console/common/sidebar' %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <h1>Configure Page Rank Parameters</h1><br>
      <%= form_tag 'demo/page_rank' do %>
          <h3>Data Source</h3>
          <table class="table table-responsive table-bordered">
            <thead>
            <tr>
              <td>Name</td>
              <td>Size(Byte)</td>
              <td>Vertices</td>
              <td>Edges</td>
              <td>Operation</td>
            </tr>

            </thead>

            <tbody>
            <% @data_source_files.each {|ds_file| %>

                <tr>
                  <td><%= ds_file.file_name %></td>
                  <td><%= ds_file.file_size %></td>
                  <td><%= ds_file.vertices %></td>
                  <td><%= ds_file.edges %></td>
                  <td><i class="fa fa-times fa-fw"></i></td>
                </tr>
            <% } %>

            </tbody>
          </table>

          <button class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-file"></i> Upload File
          </button>

          <h3>Convergent Iteration</h3>
          <input type="number" class="form-control" value="" placeholder="Default=5" style="width: 15%;"/>

          <h3>Result Capacity(Top K)</h3>
          <input type="number" class="form-control" value="" placeholder="Default=ALL" style="width: 15%;"/>

          <br><br><button class="btn btn-danger"><i class="fa fa-space-shuttle fa-fw"></i>Run</button>

      <% end %>



    </div>
  </div>
</div>

<%#= content_tag :a, "Modal", href: "#modal", class: 'btn', data: {toggle: 'modal'} %>

<%= modal_dialog id: "modal",
                 header: {show_close: true, dismiss: 'modal', title: 'Upload File'},
                 body: {content: generating_a_modal_form(), id: :ajax_form
                 },
                 footer: {content: content_tag(:button, 'Save', class: 'btn btn-primary', id: :ajax_sub_btn)} %>
</body>
</html>

<script type="text/javascript">

    $('#ajax_sub_btn').click(
        function () {

            var formData = new FormData();

            formData.append('file', $('#ajax_form_data_source_file')[0].files[0]);

            $.ajax({
                url: '<%= url_for '/user_console/upload_data_source'%>',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: uploadSuccess
            });

            $('#modal').modal('toggle');

        }
    );

    function uploadSuccess() {
        alert('Successfully uploaded. Please refresh the page.');
    }
</script>