<%
  def generating_a_modal_form()

    form_tag '/user_console/upload_data_source', multipart: true do

      file_field 'ajax_form', 'data_source_file'

    end

  end
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Know Your Graph</title>
</head>
<body>

<div class="container-fluid" style="margin-left: -32px;">

  <div class="row">
    <%= render 'user_console/common/navbar' %>
  </div>

  <div class="row" style="margin-top: 18px;">
    <div class="col-sm-3 col-lg-2">
      <%= render 'user_console/common/sidebar' %>
    </div>

    <div class="col-sm-9 col-lg-10">
      <h1>File Management</h1><br>

      <div class="container-fluid">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <!--<td width="15%">Requisition</td>-->
            <td>Name</td>
            <td>Size(Byte)</td>
            <td>Vertices</td>
            <td>Edges</td>
            <td>Tags</td>
            <td>Operation</td>
          </tr>

          </thead>

          <tbody>
          <% @data_source_files.each {|ds_file| %>

              <tr>
                <!--<td><input type="radio" name="req_file" value="<%= ds_file.id %>">Select to use this file</td>-->
                <td><%= ds_file.file_name %></td>
                <td><%= ds_file.file_size %></td>
                <td><%= ds_file.vertices %></td>
                <td><%= ds_file.edges %></td>
                <td>
                  <% ds_file.tags.each {|tag| %>
                      <%= tag %><br/>
                  <% } %>
                </td>
                <td>
                  <%= link_to "/user_console/graph_data_files/#{ds_file.id}/edit" do %><i class="fa fa-edit fa-fw" title="Edit this file." ></i> <% end %>
                  <!--<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= "/user_console/graph_data_files/#{ds_file._id}" %>">-->
                  <i class="fa fa-times fa-fw" title="Delete this file." onclick="ajaxDeleteFile('<%= ds_file._id%>')"></i>
                  <!--</a>-->
                </td>
              </tr>
          <% } %>

          </tbody>
        </table>

        <button class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-file"></i> Upload
          File
        </button>
      </div>


    </div>
  </div>
</div>

<%#= content_tag :a, "Modal", href: "#modal", class: 'btn', data: {toggle: 'modal'} %>

<%= modal_dialog id: "modal",
                 header: {show_close: true, dismiss: 'modal', title: 'Upload File(Vertex Type Only)'},
                 body: {content: generating_a_modal_form()},
                 footer: {content: content_tag(:button, 'Save', class: 'btn btn-primary', id: :ajax_sub_btn)} %>
</body>
</html>

<script type="text/javascript">

    $('#pr_para_form').submit(
        function () {

            if ($('#button_action').val() == 'submit') {
                return true;
            }
            else {
                return false;
            }
        }
    );

    $('#ajax_sub_btn').click(
        function () {

            var formData = new FormData();

            formData.append('file', $('#ajax_form_data_source_file')[0].files[0]);

            $.ajax({
                url: '<%= url_for '/user_console/upload_data_source'%>',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: uploadSuccess
            });

            $('#modal').modal('toggle');

        }
    );

    function uploadSuccess() {
        alert('Successfully uploaded. Please refresh the page.');
    }

    $('#run_btn').click(function () {
        $('#button_action').val('submit');
    });

    function ajaxDeleteFile(fileId) {
        $.ajax(
            {
                url: '<%= '/user_console/graph_data_files/'%>' + fileId,
                type: 'GET',
                method: 'DELETE',
                data: {id: fileId},
                success: function (data, status) {
                    if (data['message'] == 'succeeded') {
                        alert('Successfully delete the file, please refresh the page.');
                    }
                    else {
                        alert('Failed to delete the file, please contact the site admin.')
                    }
                }
            }
        );
    }
</script>